p{
    margin-top: 0;
    margin-bottom: 0;
}
button{
    cursor: pointer;
    background-color: dimgray;
    box-shadow: 0 5px 0 #696980;
}
button:active{
    box-shadow: none;
    transform: translateY(5px);
}
img{
    cursor: pointer;
    border-color: black;
    border-width: thin;
    border-style: solid;
    position: absolute;
    width: 10%;
    height: 50%;
}
body{
    font-family: "Times New Roman";
    alig: center;
    margin: 0;
    padding: 50px;
    background-color: white;
}
table{
    width: 80%;
    margin-left: 2%;
    margin-top: 3%;
    text-align: center;
}