.header{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: dimgray;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.left{
    display: flex;
    width: 20%;
    align-items: center;
}
.right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.middle{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.Advertisement{
    border: 1px solid black;
    margin: auto;
    height: 60%;
    padding-right: 0;
    padding-left: 15px;
}
.search{
    height: 50%;
    border: 1px solid black;
    border-radius: 1.5px;
    width: 150px;

}
.Searchh{
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;

    font-max-size: 100%;
    font-size: 100%;
    border: 1px solid black;
    border-radius: 1.5px;
    width: 100%;
}
.Pic{
    position: center;
    width: 50%;
    height: 50%;

}
.Search.ToolTip, .Pic.ToolTip{
    position: center;
    background-color: #696980;
    color: white;
    padding: 4px 8px;
    border-radius: 1.5px;
    font-size: 15px;
    bottom: 30px;
    white-space: nowrap;
    opacity: 0;
}
.Search:hover.ToolTip, .Pic:hover.ToolTip{
    opacity: 1;
}
.minuss{
    padding-right: 20px;
    width: 20%;
    height: 50%;
}
.pluss{
    padding-left: 20px;
    width: 20%;
    height: 50%;
}
.Minus{
    position: fixed;
    height: 5%;
    width: 10%;
    border-width: thin;
    border-style: solid;
    border-color: black;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
}
.Plus{
    position: fixed;
    width: 10%;
    height: 5%;
    border-width: thin;
    border-style: solid;
    border-color: black;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
}
.adv{
    width: 50%;
    height: 50%;
}
.homeleft{
    padding-left: 20%;
}
.homeright{
    padding-right: 0%;
}
.hometable{
    width: 45%;
    text-align: justify;
    border: solid black 1px;
    padding-right: 5px;
}
.hometablee{
    margin-left: 10%;
}