.header{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: dimgray;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.left{
    display: flex;
    width: 20%;
    align-items: center;
}
.right{
    width: 30%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.middle{
    width: 50%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.Hamburger_menu{
    height: 60%;
    margin: auto;
    border: 0.5px solid black;
    padding-left: 0;
    padding-right: 15px;
}
.Advertisement{
    border: 0.5px solid black;
    margin: auto;
    height: 60%;
    padding-right: 0;
    padding-left: 15px;
}
.Search{
    height: 60%;
    padding-left: 25px;
    padding-right: 25px;

    font-max-size: 100%;
    font-size: 100%;
    border: 0.5px solid black;
    border-radius: 1.5px;
    width: 150px;
}
.Minus{
    position: marker;
    height: 50%;
    width: 10%;
    border-width: thin;
    border-style: solid;
    border-color: black;
    margin-left: 0px;
    margin-right: 10px;
}
.Plus{
    position: marker;
    width: 10%;
    height: 50%;
    border-width: thin;
    border-style: solid;
    border-color: black;
    margin-right: 0px;
    margin-left: 10px;
}
.Search.ToolTip, .Minus.ToolTip, .Plus.ToolTip{
    position: center;
    background-color: #696980;
    color: white;
    padding: 4px 8px;
    border-radius: 1.5px;
    font-size: 15px;
    bottom: 30px;
    white-space: nowrap;
    opacity: 0;
}
.Search:hover.ToolTip, .Minus:hover.ToolTip, .Plus:hover.ToolTip{
    opacity: 1;
}
.title{
    padding-right: 10px;
}
